<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	id="content-api" version="2.5">
	<display-name>todolist</display-name>
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>/WEB-INF/todolist-context.xml</param-value>
	</context-param>
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>
	<servlet>
		<servlet-name>content-api</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet>
		<servlet-name>authcheck</servlet-name>
		<servlet-class>net.etalia.auth.AuthCheckServlet</servlet-class>
	</servlet>	
	<servlet-mapping>
		<servlet-name>todolist</servlet-name>
		<url-pattern>/</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>authcheck</servlet-name>
		<url-pattern>/authcheck</url-pattern>
	</servlet-mapping>
	<filter>
		<filter-name>charsetFilter</filter-name>
		<filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
		<init-param>
			<param-name>encoding</param-name>
			<param-value>UTF-8</param-value>
		</init-param>
		<init-param>
			<param-name>forceEncoding</param-name>
			<param-value>true</param-value>
		</init-param>
	</filter>
	<filter>
		<filter-name>JSONParametersFilter</filter-name>
		<filter-class>net.etalia.jalia.spring.JaliaParametersFilter</filter-class>
		<init-param>
			<param-name>parameterName</param-name>
			<param-value>outProperties</param-value>
		</init-param>
	</filter>
	<filter>
		<filter-name>authFilter</filter-name>
		<filter-class>net.etalia.auth.AuthFilter</filter-class>
		<init-param>
			<param-name>guestAuth</param-name>
			<param-value>__GUEST__</param-value>
		</init-param>
		<init-param>
			<param-name>securePorts</param-name>
			<param-value>8080</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>charsetFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>JSONParametersFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>authFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
</web-app>